<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52085967763-vn9veh477hf83k2s5lnok164aokbv0k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52085967763-vn9veh477hf83k2s5lnok164aokbv0k2</string>
	<key>API_KEY</key>
	<string>AIzaSyD0TLHg1SMBAVsbi_ITMYSFG0gNeIF4l1g</string>
	<key>GCM_SENDER_ID</key>
	<string>52085967763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-3b71a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-3b71a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52085967763:ios:a7967d0cda6b0ed509b666</string>
</dict>
</plist>